
<div class="row">
    <div class="col-12">
        <h1>Choose Your Boss</h1>
    </div>
</div>

<div class="row margin-top-20">
    <div class="col-4" *ngFor="let boss of bosses">
        <app-boss [bossId]="boss.id"
                  [bossName]="boss.name"
                  [bossSubtitle]="boss.subtitle"
                  [description]="boss.description"
                  [imagePath]="boss.imagePath"
                  [colours]="boss.colours"
                  [hitPoints]="boss.hitPoints"
                  (difficultySelected)="choose($event)"></app-boss>
    </div>
</div>

